{%extends 'base_index.html'%}
{%block body_block%}

<div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-10">

        <table class="table mt-5">
    <tr>
        <th>User</th>
        <th>Designation</th>
        <th>Company</th>
        <th>Location</th>

        <th>skills</th>
        <th>salary</th>
        <th>posted date</th>
    </tr>
    {%for job in jobs%}
    <tr>
        <td>{{job.user}}</td>
        <td>{{job.designation}}</td>
        <td>{{job.company}}</td>
        <td>{{job.location}}</td>

        <td>{{job.skills}}</td>
        <td>{{job.salary}}</td>
        <td>{{job.posted_date}}</td>
        <td><a href="{%url 'updatejob' job.id%}" class="btn btn-success">Update</a></td>
        <td><a href="{%url 'deletejob' job.id%}" class="btn btn-danger">Delete</a></td>
        <td><a href="{%url 'jobapplications' job.id%}" class="btn btn-primary">View Applications </a></td>
    </tr>
    {%endfor%}
</table>

    </div>
    <div class="col-1"></div>
</div>

{%endblock%}