{%extends 'base_index.html'%}
{%block body_block%}

{%for app in apps%}
<div class="row mt-4">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card text-center">
            <div class="card-header">
                <h4>{{app.job.designation}}</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Name: {{app.name}}</h5>
                <p>Phone: {{app.phone}}</p>
                <p >Location: {{app.location}}</p>
                <p >Qualification: {{app.qualification}}, Experience: {{app.experience}}</p>

                <p ></p>
                {%if app.status == "pending" %}
                <a href="#" class="btn btn-success">EDIT</a>
                {%endif%}
            </div>
            <div class="card-footer text-muted">
                {{app.status}}
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
{%endfor%}

{%endblock%}